body {
	background-color: lightpink;
	font-size: 30px;
	background-image: url("studioproject1/img/original.jpg");
}
p { position: center;
	text-align: center;
	font-family: Verdana;
 }

button { 
	position: absolute;
	display: flex;
	justify-content: center;
	background-color: white;
	text-align: center; 
	border-radius:10px;
	border: 10px double pink;
	text-align: center;
	font-size: 25px;
	padding: 5px;
	width: 200px;
	left: 580px;
	top: 200px;
	margin: auto;

}

button:hover {
	background-color: coral;
}